In [10]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv('student.csv')
data.head()

   Math  Reading  Writing
0    48       68       63
1    62       81       72
2    79       80       78
3    76       83       79
4    59       64       62